@page
@model PrototypeProject.Pages.Warehouse.WIndexModel
@{
}
<h2>:: Warehouse Main Page ::</h2>
<br />
<h3> Welcome @Model.Name</h3>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a asp-page="/Warehouse/Messages/WMessages">See Messages</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/Warehouse/WView">See Stock</a></p>
    </div>
</div>