@page
@model PrototypeProject.Pages.Warehouse.WIndexModel
@{
}
<h1>:: Customer Main Page ::</h1>
<br />
<h2> Welcome @Model.Name</h2>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a asp-page="/Warehouse/Messages/WMessages">See Messages</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/Warehouse/WView">See Stock</a></p>
    </div>
</div>