@page
@model PrototypeProject.Pages.Manager.IndexModel
@{
}
<h2>:: Manager Page ::</h2>
<br />
<h3> Welcome @Model.Name</h3>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a class="btn btn-primary" asp-page="/Manager/Messages/Messages">See Messages</a></p>
    </div>

    <div class="col-sm-2">
        <p><a class="btn btn-primary" asp-page="/Manager/View">See Stock</a></p>
    </div>
</div>