/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*For changing the colour of the text go to nav-link.text-dark*/

/*Brand on the top of the page*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-color: #1A4341;
    color: #F3AC3C;
}

/* Provide sufficient contrast against white background */
a {
    color: #F3AC3C;
}

.btn-primary {
    color: #1A4341;
    background-color: #F3AC3C;
    border-color: #1A4341;
}

    .btn-primary:hover, .btn-primary:focus {
        color: #0B2429;
        background-color: #1A4341;
        border-color: #1A4341;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1A4341;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #1A4341;
}
.border-bottom {
    border-bottom: 1px solid #1A4341;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    background-color: #1A4341;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
    background-color: #1A4341;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #0B2429;
    color: #998235;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #1A4341;
}

.text-main {
    color: #998235;
}

a.text-main:hover, a.text-main:focus {
    color: #F3AC3C;
}

th {
    color: #F3AC3C;
}

td {
    color: #998235;
}

h2 {
    color: #F3AC3C;
}
